<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <!--estilos-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--bootstrap-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js">
    </script>
    <!--estilos propios-->
    <style>

    </style>
    <!--fin estilos-->
</head>

<body>
    <div class="container">
        <h4>List of Quotes</h4>

        <% if (mensaje !="" ) { %>
            <div class="alert alert-success">
                <%= mensaje %>
            </div>

            <% } %>

                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Quote</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>

                    <% for (quote of quotes) { %>
                        <tr>
                            <td>
                                <%= quote.id%>
                            </td>
                            <td>
                                <%= quote.quote%>
                            </td>
                            <td>
                                <%= quote.author%>
                            </td>
                            <td><a href="quotes/edit/<%=quote.id %> ">edit</a>
                                <a href="quotes/delete/<%=quote.id %> ">delete</a></td>
                        </tr>
                        <% } %>

                </table>
                <a class="btn btn-secondary" href="/">Back</a>




    </div>
</body>

</html>